body, html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #dedede;
    color: black;
}
.flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    max-width: 800px;
    margin: 0px auto;
}
.content {
    width: 100%;
    margin: 0px auto;
    text-align: left;
    box-sizing: border-box;
    border: 5px solid #eee;
    padding: 30px;
    border-radius: 10px;
    background: #fff;
    transition: background 0.1s, border 0.1s;
}
.content.drop {
    background-color: #eee;
    border-color: rgb(255, 193, 193);
}
#out {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
    overflow-y: scroll;
}
.duck-out {
    width: 200px;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
}
.duck-out img {
    margin: 3px;
    border: 1px solid #dedede;
    width: 192px;
    image-rendering: crisp-edges;
}
.duck-out img:hover {
    border-color: #bbb;
}
.duck-out .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: monospace;
}
h1 {
    margin-top: 5px;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
    text-decoration-color: #bbb;
}
.info {
    font-size: 80%;
    padding: 20px;
}
a {
    transition: color 0.1s;
    color: blue;
    text-decoration: none;
}
a:hover {
    color: #66f;
    text-decoration: underline;
    cursor: pointer;
}
